<div class="page-content">
    <div class="row">
        <div class="content-box-large">
            <div class="panel-body" ng-init="init()">
                <div class="content-box">
                    <div style="display: table; width:100%;">
                        <div class="col-sm-12">
                            <label class="control-label" for="counterpartySelect" style="padding-right: 10px;margin-left: 5px;">Дата заказа: </label>

                            <input style=" width:180px;display: inline-block;" id="dateTo" type="text"
                                   ng-model="date" placeholder="Выберите дату"
                                   b-datepicker="dd.mm.yyyy"
                                   class="form-control date-type"
                                   content="no-cache">

                            <label class="control-label" for="counterpartySelect" style="padding-right: 10px;margin-left: 5px;">Объект: </label>
                            <div id="counterpartySelect" ng-dropdown-multiselect="" style="width: 400px;display: inline-block;"
                                 extra-settings="counterPartySettings"
                                 options="counterpaties"
                                 selected-model="counterparty"
                                 translation-texts="{buttonDefaultText: 'Выберите объект'}">
                            </div>
                            <label class="control-label" for="counterpartySelect" style="padding-right: 10px;margin-left: 5px;">Регион: </label>
                            <input style=" width:180px;display: inline-block;" id="dateToав" type="text"
                                   ng-model="counterparty.region"
                                   class="form-control date-type"
                                   ng-change="recalcPrices()"
                            >

                        </div>
                    </div>
                </div>
                <div class="content-box" style="margin-top: 10px;">
                        <button class="btn btn-default" ng-click="add()">Добавить</button>
                        <button class="btn btn-default" ng-click="del()">Удалить</button>
                    <div class="pull-right">
                        <button class="btn btn-info" ng-click="createUser()">Сохранить</button>
                    </div>
                </div>
                <div class="content-box">
                    <div style="display: table; width:100%;">
                        <hot-table id="hotCorrel"
                                   class="hotMarket"
                                   settings="hotSettings"
                                   columns="hotColumns"
                                   datarows="pairs">
                        </hot-table>
                    </div>
                </div>
                <div class="content-box">
                    <div style="display: table; width:100%;">
                        <div class="pull-right">
                            <div class="col-sm-12">
                                <label class="control-label" for="counterpartySelect"
                                       style="padding-right: 10px;margin-left: 5px;">ИТОГО ПО СМЕТЕ:</label>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label" for="counterpartySelect"
                                       style="padding-right: 10px;margin-left: 5px;">НДС 20%:</label>
                            </div>
                            <div class="col-sm-12">
                                <label class="control-label" for="counterpartySelect"
                                       style="padding-right: 10px;margin-left: 5px;">ВСЕГО ПО СМЕТЕ:</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-box" style="margin-top: 10px;">
                    <label class="control-label" for="counterpartySelect" style="padding-right: 10px;margin-left: 5px;">Выгрузка
                        в формате:</label>
                    <button class="btn btn-info" ng-click="filterUsers()">Смета</button>
                    <button class="btn btn-info" ng-click="createUser()">Ф2</button>
                    <button class="btn btn-info" ng-click="createUser()">Ф3</button>
                    <button class="btn btn-info" ng-click="createUser()">Счет</button>
                    <button class="btn btn-info" ng-click="createUser()">С-Ф</button>
                    <button class="btn btn-info" ng-click="createUser()">УПД</button>

                    <div class="pull-right">
                        <button class="btn btn-info" ng-click="createUser()">Все документы разом</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
